<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Test" parallel="tests">
<listeners>
<listener class-name="extentListeners.ExtentListeners"></listener>
</listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test2">
    <classes>
      <class name="testcases.DoUserReg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
